body{
  font-family:Arial, Helvetica, sans-serif;
}

/* #promo{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/backgroundimg.jpg) no-repeat;
  background-size:cover;
  margin-top:64px;
  height: 881px;
  max-height: 881px;
} */

.myhome{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/backgroundimg.jpg) no-repeat;
  background-size:cover;
  margin-top:64px;
  height: 881px;
  max-height: 881px;
}
.myskills{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/programming.jpg) no-repeat;
  background-size:cover;
  margin-top:64px;
  height: 881px;
  max-height: 881px;
}
.myachieve{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/list.jpg) no-repeat;
  background-size:cover;
  margin-top:64px;
  height: 881px;
  max-height: 881px;
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

.img-fluid{
  margin-top: 60px;
}
#promo .jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:50px auto;
}

@media (max-width:991px) {
  #promo .jumbotron{
    padding:20px;
  }
}

.dark-section{
  background-color:#eff7fb;
  height: 670px;
}

.site-section{
  text-align:center;
  padding-bottom:70px;
}

.site-section h1{
  font-weight:normal;
  margin-bottom:30px;
  margin-top:60px;
}

.site-section p{
  font-size: 16px;
}

#welcome p{
  max-width:800px;
  font-size:20px;
  margin:0 auto;
  color:#666;
}

#why .item{
  padding-top:36px;
}

#why .item i{
  font-size:42px;
  color:rgb(41,130,189);
}

#why .item h2{
  font-weight:normal;
  margin-top:13px;
  margin-bottom:20px;
  font-size:26px;
}

#why .item p{
  color:rgb(91,103,109);
  font-size: 16px;
}

#logo{
  max-height:42px;
  margin-right:10px;
  margin-top:-3px;
  display:inline-block;
}

.navbar{
  min-height: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color:rgb(156,210,249);
  border-color:transparent;
}

#section1 {
  padding-top:50px;
}